{% extends 'base.html' %}
{% block nav %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/about/">About</a></li>
<li><a href="/contact/">Contact Us</a></li>
{% endblock nav %}
{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><span style="font-size: 120%">About</span></h1>
    </div>
    <div class="panel-body" style="font-size: 120%">
      <p>
        Here at Doge Fact we’ve taken 30 of the most interesting facts about man’s best friend and translated them to doge for your enjoyment.
      <p/>
      <p>
        Each subscribed number gets a single text message per day for 30 days. Subscription is a one-time fee of $1, much of which is used to cover the cost of sending all those messages out. 
      </p>
      <p>
        We give 10¢ of every $1 payment we get to <a href="http://www.hsi.org">Humane Society International</a>, so you can feel generous while enjoying those facts!
      <p/>
    </div>
  </div>
</div>
{% endblock content %}
