{% extends 'base.html' %}
{% load staticfiles %}
{% block nav %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/about/">About</a></li>
<li><a href="/contact/">Contact Us</a></li>
{% endblock nav %}
{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><span style="font-size: 120%">About</span></h1>
    </div>
    <div class="panel-body" style="font-size: 120%">
      <p>
        EvoFacts is subscription based text message service that provides intriguing facts, questions and ideas to ponder for the average consumer. We hope to enlighten people as to why evolution is not merely a “theory” in the conventional sense, but almost nearly a fact proven through countless hours of research. Evolution does not have to conflict with a person’s religious belief in creationism, it instead provides an explanation as to the origin of humans by the process of natural selection. 
      </p>
      <p>
        After subscribing you will receive a text message once per day for 15 days, each daily fact will be limited to two messages and provide concise information relating to Evolution.
      </p>
      <img class="img-responsive img-thumbnail" style="margin-top: 10px; border: none; outline:none" src="{% static 'images/about.jpg' %}">
      </img>
      <p style="margin-top: 20px">
        This project was created by a multicultural team of various religious faiths and beliefs from students at the University of Texas.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
