{% extends 'base.html' %}
{% load staticfiles %}
{% block nav %}
<li><a href="/">Home</a></li>
<li class="active"><a href="/about/">About</a></li>
<li><a href="/contact/">Contact Us</a></li>
{% endblock nav %}
{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title"><span style="font-size: 120%">About</span></h1>
    </div>
    <div class="panel-body" style="font-size: 120%">
      <p>
        Evolution Facts provides curious subscribers with intriguing fact, question and ideas to ponder as they go about their day. We hope to explore evolution through a slow, methodical, and objective way that appeals to the curious person, whether or not their beliefs are creationist or evolutionary.
      </p>
      <p>
        EvoFacts is subscription based text message service that provides intriguing facts, questions and ideas to ponder for the average consumer. We hope to enlighten people as to why evolution is not merely a “theory” in the conventional sense, but instead almost nearly a fact. Evolution does not have to conflict with a person’s religious belief in creationism, but instead provide an explanation as to the origin of humans through evolution by the process of natural selection.
      </p>
      <img class="img-responsive img-thumbnail" style="margin-top: 10px" src="{% static 'images/about.png' %}">
      </img>
    </div>
  </div>
</div>
{% endblock content %}
