<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script>
    $(document).on("click", ".alert", function(e) {
      bootbox.alert("Hello world!", function() {
        console.log("Alert Callback");
      });
    });
  </script>
</head>

<body>
  <nav class="navbar navbar-default container" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dogefact</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Top Facts <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">wow</a></li>
                <li><a href="#">cool</a></li>
                <li><a href="#">plz</a></li>
                <li class="divider"></li>
                <li><a href="#">wow</a></li>
                <li class="divider"></li>
                <li><a href="#">concern</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" style="margin-right: 10px" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  {% block content %}
    my base content
  {% endblock content %}

  <footer class="container">
    <span style="color: #666666; margin-left: -15px; padding-bottom: 15px">&copy; <script>document.write(new Date().getFullYear())</script></span>
    <span class="pull-right" style="margin-right: -15px; padding-bottom: 15px">
      <a href="mailto:halp@dogefact.com">Contact Us</a>
    </span>

  </footer>
</body>

</html>
