{% extends 'base.html' %}
{% load staticfiles %}
{% block nav %}
<li><a href="/">Home</a></li>
<li><a href="/about/">About</a></li>
<li class="active"><a href="/contact/">Contact Us</a></li>
{% endblock nav %}
{% block content %}
<div class="container">
    <div class="panel panel-default" style="font-size: 120%">
      <div class="panel-heading">
        <h1 class="panel-title"><span style="font-size: 120%">Contact Us</span></h1>
      </div>
      <div class="panel-body">
        <p>
          Questions? Concerns? Confessions?
        <p>
        <p>
          For all of that, please email us at <a href="mailto:halp@evofacts@gmail.com">evofacts@gmail.com</a>.
        </p>
        <p>
          If for some reason you'd like to <b>unsubscribe</b> from the service, simply reply "stop" to any text you get from us.
        </p>
      </div>
    </div>
    <div>
    </div>
</div>
{% endblock content %}

