{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  {% if error %}
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
      {{ error }}
    </div>
  {% endif %}
</div>

<div class="container">
  <div class="jumbotron" style="background-color:#9be69a">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h1> <span style="color: #4c4c4c">Evolution Facts</span></h1>
        <p>
          A service for creationists who are curious about evolution
        </p>
        <p style="margin-top: -8px">
          One factual text message about evolution per day for 15 days
        </p>
        <p class="text-primary" style="font-size: 150%; margin-top: -10px;">Subscribe below</p>
        <form role="form" id="phone_form" name="phone_form" action="/subscribe/" method="post" >
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-md-5 col-sm-4 col-ms-6 col-xs-10">
              <input type="tel"  class="form-control input-lg" name="phone_number" id="phone_number" placeholder="your phone number">
            </div>
            <div class="form-group col-md-3 col-sm-4 col-ms-6 col-xs-12">
              <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-5 col-sm-8">
        <img class="img-responsive" src="{% static 'images/doge.png' %}">
        </img>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
