{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}


<div class="container jumbotron">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <h1> <span style="color: #666666">Doge Facts</span></h1>
      <p>much shiba inu fact, plz sub<strong>shibe</strong> below</p>
      <form role="form" onsubmit="alert(document.getElementById('inputPhone').value)">
        <div class="row">
          <div class="form-group col-md-5 col-sm-4 col-ms-6 col-xs-10">
            <input type="tel" class="form-control input-lg" id="inputPhone" placeholder="ur phone number">
          </div>
          <div class="form-group col-md-3 col-sm-4 col-ms-6 col-xs-12">
            <button type="submit" class="btn btn-primary btn-lg">Subscribe</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3 col-sm-6">
      <img class="img-responsive img-thumbnail" src="{% static 'images/doge.png' %}">
    </div>
  </div>
</div>
{% endblock content %}
