{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="jumbotron" style="background-color:#f1ffea">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1><span class="text-success">Success</span>!</h1>
        <legend></legend>
        <p style="line-height: 115%">
          We got your dollar, and you should be getting a confirmation text very soon!
          If for some reason the message doesn't reach you, <a href="{% url 'contact' %}" title="">let us know</a>.
        </p>
        <p style="margin-top: -8px">
          Enjoy the month!
        </p>
      </div>
      <div class="col-md-6 col-sm-11">
        <img class="img-responsive img-thumbnail" src="{% static 'images/about.png' %}">
        </img>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
